server {
    listen 443 ssl default_server;

    root /microstatus/output/;
    index index.html;

    ssl_certificate     /etc/nginx/ssl/nethealth.crt;
    ssl_certificate_key /etc/nginx/ssl/nethealth.key;

    # Restrict access to local network only
    allow 192.168.0.0/16;
    allow 10.0.0.0/8;
    allow 172.16.0.0/12;
    deny all;

    location / {
        try_files $uri $uri/ =404;
    }
}

# Redirect HTTP → HTTPS
server {
    listen 80 default_server;
    return 301 https://$host$request_uri;
}
