name: Rust Build - site-tester

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - name: linux-x86_64
            runner: ubuntu-latest
            container: rust:1.90-bookworm
            target: x86_64-unknown-linux-musl
            exe_ext: ""
            cross_deps: "sudo apt-get update && sudo apt-get install -y musl-tools"

          - name: linux-arm64
            runner: ubuntu-22.04-arm
            container: rust:1.90-bookworm
            target: aarch64-unknown-linux-gnu
            exe_ext: ""
            cross_deps: ""

          - name: windows-x86_64
            runner: ubuntu-latest
            container: rust:1.90-bookworm
            target: x86_64-pc-windows-gnu
            exe_ext: .exe
            cross_deps: "sudo apt-get update && sudo apt-get install -y mingw-w64"

          - name: macos-arm64
            runner: macos-latest
            container: ""
            target: aarch64-apple-darwin
            exe_ext: ""
            cross_deps: ""

    steps:
      - uses: actions/checkout@v4
      - name: Install cross-compile dependencies
        if: matrix.cross_deps != ''
        run: ${{ matrix.cross_deps }}

      - name: Add Rust target
        if: matrix.target != ''
        run: rustup target add ${{ matrix.target }}

      - name: Build Debug and Release
        working-directory: ./site_tester
        run: |
          cargo build --target ${{ matrix.target }}
          cargo build --release --target ${{ matrix.target }}

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: site_tester-${{ matrix.name }}-debug
          path: ./site_tester/target/${{ matrix.target }}/debug/site_tester${{ matrix.exe_ext }}

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: site_tester-${{ matrix.name }}-release
          path: ./site_tester/target/${{ matrix.target }}/release/site_tester${{ matrix.exe_ext }}
